html {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    max-width: 100%;
    overflow-x: hidden;
}
body{
	overflow-x: hidden;
    max-width: 100%;
}
p, h1 , h2, h3, li, a{
	font-family: 'Source Sans Pro', sans-serif;
}
p {font-size: 1.4em;}
a{font-weight: 200;}
h1{
	font-size: 4em;
	font-weight: 300;
}
h2{
	font-size: 5em;
	font-weight: normal;
}
h3{
	font-size: 4em;
	font-weight: 300;
}
a:hover{
	text-decoration: none;
}
ol{
	list-style-type: none;
}
li{
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	font-size: 1.2em;
	font-weight: 100;
}

.white{color: white;}


/*Jumbotron*/
.jumbotron{
	
	height:100vh;
	color: white;
	width: 100vw;
}
.jumbotron .back-img{
	position:absolute;
	z-index:0;
	left:0;
	top:0;
	width:100%;
	height:100%;
}
.jumbotron .back-img img{
	width:100vw;
	height:100vh;
}
.jumbotron img{
	width:100%;
	height: 100%;
}
.jumbotron .col-lg-12{
	/*padding:1em 0 3em 0;*/
	margin-bottom: 1em;
}
.jumbotron h1{
	margin-bottom: 2em;
}
.jumbo-icon{
	opacity: 0.7;
	height:120px !important;
	width:120px !important;
	margin: 1em 3em 3em 3em;
}



.row .col-lg-12 p{
	margin-left: 15%;
	margin-right: 15%;
	font-weight:100;
}
.row{
	padding:2em 0 2em 0;

}




/*Purpose & Platform Section*/
.marketing .col-lg-6 p {
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 1em;
}
.marketIcon{
	max-width: 9em;
	max-height: 9em;
	margin: auto;	
}
.marketing .col-lg-12 img{
	width: 100%;
	height: 100%;
}
.marketing .col-lg-12 {
	margin-bottom: 2em;
}
.marketing .col-lg-12 a{
	margin-top: 1em;
}
.message{
	/*border: 1px solid #cecdcd;
	border-radius: 5px;
	margin-bottom: 1em;
	padding:0 1em 0 0;*/
	width:60%;
	padding-right: 1em;
	margin: auto;
	
}



/*Green*/
.green{
	background-color: #27ae60;
	color: white;
}


/*Values*/
#ourValues .col-md-2 p{
	padding:0.5em;
	font-weight: 200;
}

#ourValues .col-md-2{
	margin-bottom: 1em;
	margin-top: 1em;
}


/*Mail Chimp*/
#mc_embed_signup{
	background:#fff;
	clear:left;
	font-size:14px Helvetica,Arial,sans-serif;
	width: 40%;
	margin:auto;
	min-width:15em;
	margin-top:0 !important;
	padding-top:0;
}
#mc-embedded-subscribe{
	margin:0 0 0 0 !important;
}
#signup h3{
	margin-bottom: 0;
	padding padding-bottom: 0;
}
/*remove top padding from signup*/
.nopad{
	padding-top: 0;
}


/*Footer*/
#footer{
	margin-bottom: 0;
	font-size: 0.8em;
	background-color: #f8f8f8;
	border-top: 1px solid #c1c1c1;
	padding-top: 1.2em;
	padding-bottom: 1em;
}



/*Glyphicons*/
.glyphicon{
	margin: 0 0.2em 0 0.2em
}



/*Buttons*/
.btn-default{
	background: rgba(255, 255, 255, 0.1);
	color: white;
	font-weight: 100;
}
a.btn-default:hover {
	background: rgba(255, 255, 255, 0.2);
	color:white;
}
.btn-dark{
	background: rgba(0, 0, 0, 0);
	color:#333333;
	font-weight: normal;
	
}
a.btn-dark:hover{
	color: #333333;
	font-weight: normal;
}


/*Media*/
@media (max-width: 720px){
	.jumbotron h1{
		font-size: 3.4em;
	}
}